.footer-buttonn{
  background-color: var(--headercolor);
  color: white;
}


.footer-buttonn-div{
  margin-left: 10px;
}

.footer-bottom-line{
  margin-top: 30px;
}

.social-icons{
  font-size: 25px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .cloth-title-div p{
    white-space: normal;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .mobile-margin-top {
    margin-top: 30px; 
  }

  .mobile-flex-row{
    flex-direction: column;
  }
}
