.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  mix-blend-mode: screen;
}

.blend {
  mix-blend-mode: multiply;
}

.sec-1-bg {
  background-image: url("../assets/HomePage/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-2-bg, .sec-7-bg {
  background-image: url("../assets/HomePage/images/about-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
}

.sec-3-bg {
  background-image: url("../assets/HomePage/images/how-we-work-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-4-bg {
  background-image: url("../assets/HomePage/images/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  object-fit:cover ;
}

.sec-5-bg {
  background-image: url("../assets/HomePage/images/price-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.left-right {
  animation: slideIn 1s ease-in-out forwards;
  opacity: 0;
  transform: translateX(20px);
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(30%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.scale-out {
  animation: scaleIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes animateY{
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

.animateY-up:hover{
  animation: animateY 0.5s linear reverse;

}

/* Translate */

.translateY-20:hover{
  transform: translateY(-20px);
}
.translateY-30:hover{
  transform: translateY(-30px);
}

/* Text color */

.textwhite-hover:hover {
  color: white;
}

.marginY-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* margins */
.mt-80{
  margin-top:80px;
};
.mt-100{
  margin-top:100px;
};

.mt-120{
    margin-top:120px;
}

/* Durations */

.duration-300{
  transition: all .3s ease-in-out;
}

.duration-400{
  transition: all .4s ease-in-out;
}

.duration-500{
  transition: all .5s ease-in-out;
}

/* WIDTH */
.w-100px{
  width:100px;
}
.w-200px{
  width:200px;
}
.w-300px{
  width:300px;
}
.w-400px{
  width:400px;
}
.w-500px{
  width:500px;
}

/* media queries */
@media (max-width: 768px) {
  .d-md-flex {
    flex: none;
    
  };

  .p-sm-0{
    padding: 0px;
  }
    .app-medium{
    left:0px !important;
  }
  .pb-0-md{
    padding-bottom: 0px !important;
  }

}
@media (min-width: 768px) {
  .d-md-flex {
    flex: none;
    
  };
  .sm-center{
    text-align: center;
    background-color: red
  }


}
@media (max-width: 425px){
  .app-small{
    left:0px !important;
  }

  .sec-sm-img{
    width:80%;
  }

  .d-none-sm{
    display: none;
  }
  .p-none-sm{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .size-sm-30px{
    height:30px !important;
    width:30px !important;
  }
  .neg-top-15{
    top:-15px !important;
  }
  .neg-top-20{
    top:-20px !important;
  }
  .neg-top-30{
    top:-20px !important;
  }
  .mt-sm{
    margin-top: -5px !important;
  }

  .ml-sm{
    margin-left: 200px !important;
  }
}

.slick-next:before, .slick-prev:before{
  display: none
}