:root{
  --primary-color: #6651D1;
  --primary-opacity: 102, 81, 209;
  --secondary-color: #FB8E0B;
  --bg-dark: #474958;
  --bg-grey: #E8E9ED; 
  --bg-light: #F8F8FA;  
  --text-grey: #6B7280; 
  --text-dark: #222843; 
  --success:#00CC73;

}
